---
---
$page_width: 940px
$menu_item_width: 234px

body
  background-image: url('/assets/images/scroll_painting.jpg')
  background-attachment: fixed
  background-repeat: repeat-x
  background-size: auto 100%
  background-position: 69%

.page
  width: $page_width
  margin: 0 auto

.pageHeader
  height: 200px
  background-color: #333339

.headerName
  color: mediumaquamarine
  font-family: 'serif'
  font-size: 60
  font-weight: bold
  margin: 0
  text-align: center
  padding-top: 50px

.clear
  clear: both

.content
  border-radius: 0 0 10px 10px
  background: white

#nav
  font-size: 20
  margin: 0
  padding: 0
  list-style: none

  li
    border-top: 8px solid #00aa99
    border-right: 1px solid #444444
    float: left
    display: block
    position: relative
    width: $menu_item_width
    height: 53px
    z-index: 500
    margin: 0
    background: #9f8877
    box-shadow: inset 0 -30px 15px -20px #444444
    a
      font-family: 'helvetica'
      font-weight: 900
      padding: 13px 0 16px 0
      display: block
      text-align: center
      text-decoration: none
      color: white

  li:hover
    background: #c4b289
    box-shadow: none
      
  li.selected
    border-top: 8px solid #cc3a2b

  li.selected a
    color: #ffec96

  ul
    position: absolute
    left: 0
    margin: 0 
    padding: 0
    display: none
    li
      border: none
      box-shadow: none
      width: $menu_item_width
      float: left
      a
        display: block

