---
---
$page_width: 940px
$menu_item_width: 234px

body
  background-color: black

.page
  width: $page_width
  margin: 0 auto

.pageHeader
  height: 200px
  background-color: #ff3a2b
  background-color: #8a7e63

.clear
  clear: both

.content
  box-shadow: inset 0 -5px 5px #000000
  background: white

#nav
  font-size: 20
  margin: 0
  padding: 0
  list-style: none

  li
    border-top: 8px solid #00aaaa
    border-right: 1px solid #333333
    float: left
    display: block
    position: relative
    width: $menu_item_width
    height: 53px
    z-index: 500
    margin: 0
    background: #8a7e63
    box-shadow: inset 0 -30px 15px -20px #444444
    a
      font-family: 'Arial'
      font-weight: 900
      padding: 13px 0 16px 0
      display: block
      text-align: center
      text-decoration: none
      color: white

  li:hover
    background: #c4b289
    box-shadow: none
      
  li.selected
    border-top: 8px solid #ff3a2b

  li.selected a
    color: #ffb273

  ul
    position: absolute
    left: 0
    margin: 0 
    padding: 0
    display: none
    li
      border: none
      box-shadow: none
      width: $menu_item_width
      float: left
      a
        display: block

