---
layout: gallery
title: Artwork
style: [gallery]
assetPath: /assets/images
images: [art, billboard, greeting, interior, jay, portrait_illustrator, portrait_painting, raider, zhujian, scroll_painting, portrait_in_motion]
---
#gallery

:javascript
  function htmlify(title, desc){
    return '<div><h2>'+title+'</h2><p>'+desc+'</p></div>';
  }
  getImageByName(data, 'portrait_in_motion').link = 'portrait.html'
  getImageByName(data, 'portrait_in_motion').layer = htmlify('Portrait in Motion', "Self portrait done in flash, inspired by Braid<br /><b>Click the image to view the video</b>");
  getImageByName(data, 'scroll_painting').layer = htmlify('Seasons', "Chinese scroll painting inspired by ");
  /**
  getImageByName(data, 'zhujian').layer = htmlify('Sword Draw', "");
  getImageByName(data, 'raider').layer = htmlify('Raider', "");
  getImageByName(data, 'portrait_illustrator').layer = htmlify('Self Portrait 1', "");
  getImageByName(data, 'portrait_painting').layer = htmlify('Self Portrait 2', "");
  getImageByName(data, 'jay').layer = htmlify('Jay', "");
  getImageByName(data, 'interior').layer = htmlify('Interior', "");
  getImageByName(data, 'greeting').layer = htmlify('Thinking of You', "");
  getImageByName(data, 'billboard').layer = htmlify('Times Square', "");
  getImageByName(data, 'art').layer = htmlify('ART', "");
  */

