---
layout: gallery
title: Artwork
style: [gallery]
assetPath: /assets/images
images: [art, billboard, greeting, interior, jay, portrait_illustrator, portrait_painting, raider, zhujian, scroll_painting, portrait_in_motion]
---
#gallery

:javascript
  getImageByName(data, 'portrait_in_motion').link = 'portrait.html'

