%html
  %head
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %link{:rel => "stylesheet", :href => "/style/base.css", :type => "text/css"}
    {% for item in page.style %}
    %link{:rel => "stylesheet", :href => "/style/{{item}}.css", :type => "text/css"}
    {% endfor %}

    %script{:src => "/js/jquery-1.6.4.min.js", :type => "text/javascript"}
    %script{:src => "/js/base.js", :type => "text/javascript"}
    {% for item in page.js %}
    %script{:src => "/js/{{item}}.js", :type => "text/javascript"}
    {% endfor %}
    %title {{page.title}}
  %body
    .page
      %ul#nav
        %li
          %a.selected{:href => "/"} Home
        %li
          %a{:href => "/gallery"} Gallery
          %ul
            %li
              %a{:href => "/gallery"} Artwork
            %li
              %a{:href => "/gallery/photography.html"} Photography
          .clear
        %li
          %a{:href => "http://github.com/lanjian"} Github
        %li
          %a{:href => "/resume"} Resume
      .clear
      {{content}}
