%html
  %head
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %link{:rel => "stylesheet", :href => "/style/base.css", :type => "text/css"}
    {% for item in page.style %}
    %link{:rel => "stylesheet", :href => "/style/{{item}}.css", :type => "text/css"}
    {% endfor %}

    %script{:src => "/js/jquery-1.6.4.min.js", :type => "text/javascript"}
    {% for item in page.js %}
    %script{:src => "/js/{{item}}.js", :type => "text/javascript"}
    {% endfor %}
    %title {{page.title}}
  %body
    .page
      #nav
        %a{:href => "/"} Home
        %a{:href => "/gallery"} Gallery
        %a{:href => "http://github.com/lanjian"} Github
        %a{:href => "/aboutme"} About me
        %a{:href => "/resume"} Resume
      {{content}}
