%html
  %head
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %link{:rel => "stylesheet", :href => "/style/base.css", :type => "text/css"}
    {% for item in page.style %}
    %link{:rel => "stylesheet", :href => "/style/{{item}}.css", :type => "text/css"}
    {% endfor %}

    %script{:src => "/js/jquery-1.6.4.min.js", :type => "text/javascript"}
    %script{:src => "/js/base.js", :type => "text/javascript"}
    {% for item in page.js %}
    %script{:src => "/js/{{item}}.js", :type => "text/javascript"}
    {% endfor %}
    %title Jack Huang - {{page.title}}
  %body
    .page
      .pageHeader
        .headerName [ JACK HUANG ]
      %ul#nav
        %li.selected#nav_home
          %a{:href => "/"} HOME
        %li#nav_gallery
          %a{:href => "/gallery"} PORTFOLIO
          %ul
            %li
              %a{:href => "/gallery"} ARTWORK
            %li
              %a{:href => "/gallery/photography.html"} PHOTOGRAPHY
          .clear
        %li#nav_github
          %a{:href => "http://github.com/lanjian"} GITHUB
        %li#nav_resume
          %a{:href => "/resume"} RESUME
      .clear
      .content
        {{content}}
