---
layout: base
title: Resume
style: [resume]
js: [resume]
---
#resume
  %table.header
    %tr
      %td.name Jack Huang
      %td.rightCol
        %a{:href => "http://jack-huang.com"} jack-huang.com
    %tr
      %td.leftCol 4A Computer Science
      %td.rightCol jx3huang@uwaterloo.ca
    %tr
      %td.leftCol Fine Arts Minor
      %td.rightCol 226-978-2688
    %tr
      %td.leftCol.fake UW ID 12345678
      %td.rightCol.fake 888 Fake St. Faketown, Fakeland, 888 888
  .body
    %h2 SKILLS SUMMARY
    %hr
    %ul
      %li Excellent understanding of fundamental programming concepts through school and self-study; including object-oriented design and software design patterns 
      %li Experience in game development; complemented by strong background in fine arts
      %li Familiar with building web applications and Android applications
      %li Demonstrated creativity and skill in visual arts through personal artworks
      %li Strong problem solving skills; demonstrated by math and programming contest results
      %li Good communication skills; Fluent in Chinese

    %h2 COMPUTER PROFICIENCY
    %hr
    %p.compPara
      %b Languages:
      Java, C++, C, Python, Ruby, Scheme, ActionScript, Scala, SQL, VB, JavaScript, HTML, XML
    %p.compPara
      %b Technologies/Tools:
      WebGL, SVN, CVS, git, bash, batch, SSIS, JSP
    %p.compPara
      %b Applications:
      Eclipse, Visual Studio, MS SQL Server, Photoshop, Illustrator, Flash, Autodesk Maya
    %p.compPara
      %b Frameworks/Libraries:
      Swing, Rails, GWT, Node.Js, Three.Js, NowJs
    %ul
      %li Experienced with both Windows and Linux development environments
      %li Knowledge of 3D graphics concepts and technologies
      %li Familiar with multithreading and concurrency

    %h2 WORK EXPERIENCE
    %hr

    %table.infoTable
      %tr
        %td 
          %b Platform and Game Engineer
        %td.infoRightCol Redwood Shores, CA
      %tr
        %td Bioware San Francisco
        %td.infoRightCol Sept. 2011 - Dec. 2011

    %ul
      %li Wrote, maintained, and deployed production level code for games with over 100,000 daily users
      %li Re-designed and implemented a new gifting system using the new Facebook JavaScript API for the popular social game Dragon Age Legends
      %li Developed in-game store and integrated it with in-house platform services for an unannounced core social game

    %table.infoTable
      %tr
        %td 
          %b Software Developer
        %td.infoRightCol Montreal, QC
      %tr
        %td Autodesk Media & Entertainment
        %td.infoRightCol Jan. 2011 - Apr. 2011

    %ul
      %li Worked in a small startup team of 3 developers and contributed significantly to all aspects of the Distributed Simulation project, including design, development, documentation, and quality assurance
      %li Researched and implemented solutions, through successively-refined prototypes, that would empower artists to produce results more quickly when working with 3D dynamics simulations in Autodesk 3ds Max, Maya, or Softimage
      %li Designed and implemented a Particle Previewer web application using WebGL that displays particle simulation results
      %li Adapted quickly to an agile, iterative development process

    %table.infoTable
      %tr
        %td 
          %b Java Developer
        %td.infoRightCol Toronto, ON
      %tr
        %td TD Securities
        %td.infoRightCol May 2010 - Aug. 2010

    %ul
      %li Responsible for development and support of TD Prime Brokerage website and service
      %li Learned database technologies through database migration
      %li Developed various features such as export reports for clients and widgets for the website according to business requirements using a combination of Java EE, SQL, and VB.NET technologies
      %li Quickly responded to changing client requirements

    %h2 PROJECTS
    %hr
    %p.lowTopMargin
      %b HTML5 Multiplayer Tetris
      %span.floatRight Personal, Dec. 2011 - Present
    %ul
      %li Developed a Tetris clone using HTML5 technologies and CoffeeScript
      %li Currently developing multiplayer head-to-head gameplay over the web with NodeJS

    %p.lowTopMargin
      %b Android MikroCalendar
      %span.floatRight User Interfaces, May 2011 - Aug. 2011
    %ul
      %li Built the Android user interface for a microblogging system for events

    %p.lowTopMargin
      %b OS/161 Operating System
      %span.floatRight Operating Systems, Sept. 2010 - Dec. 2010
    %ul
      %li Worked in a team to develop an operating system built on top of OS/161
      %li Requirements included implementing synchronization primitives, system calls, and a memory management system


    %h2 EDUCATION
    %hr

    %table.infoTable
      %tr
        %td 
          %b Candidate for Bachelor of Computer Science, 
          Computer Science
        %td.infoRightCol Waterloo, ON
      %tr
        %td University of Waterloo
        %td.infoRightCol Sept. 2008 - Present

    .eduWaterloo
      %p
        %b Relevant courses: 
        Computer Graphics, Artificial Intelligence, User Interfaces, Operating Systems

    %table.infoTable
      %tr
        %td 
          %b Ontario High School Diploma
        %td.infoRightCol Richmond Hill, ON
      %tr
        %td Richmond Hill High School
        %td.infoRightCol Sept. 2004 - Jun. 2008


    %h2 AWARDS
    %hr
    %ul
      %li Nortel Networks Undergraduate Scholarship, Nortel Networks, Sept. 2008
      %li President's Scholarship, University of Waterloo, Richmond Hill, ON, Sept. 2008
      %li Top 2% in 2008 Euclid Contest/Student Honour Roll, University of Waterloo, Richmond Hill, ON, Apr. 2008
      %li 3rd Place Team in Boardwide Educational Computing Organization of Ontario (ECOO) Programming Contest, ECOO, York University, ON, Apr. 2008


    %h2 ACTIVITIES & INTERESTS
    %hr

    %table.infoTable
      %tr
        %td 
          %b VeloCity Mobile + Media Incubator - Member
        %td.infoRightCol Waterloo, ON
      %tr
        %td University of Waterloo
        %td.infoRightCol Jan. 2012 - Present
    %br
    %table.infoTable
      %tr
        %td 
          %b Ping Pong Club - Member
        %td.infoRightCol Waterloo, ON
      %tr
        %td University of Waterloo
        %td.infoRightCol Jan. 2009 - Present
    %br
    %table.infoTable
      %tr
        %td 
          %b Intramurals Soccer - Player
        %td.infoRightCol Waterloo, ON
      %tr
        %td University of Waterloo
        %td.infoRightCol May 2011 - Present

    %p Enjoys ping pong, soccer, video games, drawing, painting, and photography
