---
layout: base
title: Resume
style: [resume]
---
%table.header
  %tr
    %td.name Jack Huang
    %td.rightCol
      %a{:href => "mailto:jx3huang@uwaterloo.ca"} jx3huang@uwaterloo.ca
  %tr
    %td.leftCol 3B Computer Science
    %td.rightCol 226-978-2688
  %tr
    %td.leftCol.fake UW ID 123456789
    %td.rightCol.fake 888 Fake St. Faketown, Fakeland, 888 999

.body
  %h2 SKILLS SUMMARY
  %hr
  %ul
    %li Excellent understanding of fundamental programming concepts through school and self-study; including object-oriented design and software design patterns 
    %li Experienced with database and web technologies
    %li Able to work well both independently and in groups
    %li Demonstrated ability to understand and follow instructions and procedures effectively 
    %li Attentive to details
    %li Good communication skills; Fluent in reading and speaking Chinese

  %h2 COMPUTER PROFICIENCY
  %hr
  %p.compPara
    %b Languages:
    Java, C++, C, Python, Ruby, Scheme, Scala, SQL, VB, JavaScript, HTML, XML
  %p.compPara
    %b Technologies/Tools:
    WebGL, SVN, CVS, git, bash, batch, SSIS, JSP
  %p.compPara
    %b Applications:
    Eclipse, Visual Studio, MS SQL Server, QuickTest Pro, Photoshop, Illustrator, Flash, Autodesk Maya, MS Office
  %p.compPara
    %b Frameworks:
    Swing, Rails
  %ul
    %li Experienced with both Windows and Linux development environments
    %li Knowledge of 3D graphics concepts and technologies
    %li Familiar with multithreading and concurrency concepts 

  %h2 WORK EXPERIENCE
  %hr

  %table.infoTable
    %tr
      %td 
        %b Software Developer
      %td.infoRightCol Montreal, QC
    %tr
      %td Autodesk Media & Entertainment
      %td.infoRightCol Jan. 2011 - Apr. 2011

  %ul
    %li Worked in a small startup team of 3 developers and contributed significantly to all aspects of the Distributed Simulation project, including design, development, documentation, and quality assurance
    %li Researched and implemented solutions, through successively-refined prototypes, that would empower artists to produce results more quickly when working with 3D dynamics simulations in Autodesk 3ds Max, Maya, or Softimage
    %li Designed and implemented a Particle Previewer web application using WebGL that displays particle simulation results
    %li Adapted quickly to an agile, iterative development process

  %table.infoTable
    %tr
      %td 
        %b Java Developer
      %td.infoRightCol Toronto, ON
    %tr
      %td TD Securities
      %td.infoRightCol May 2010 - Aug. 2010

  %ul
    %li Responsible for development and support of TD Prime Brokerage website and service
    %li Learned database technologies through database migration
    %li Developed various features such as export reports for clients and widgets for the website according to business requirements using a combination of Java EE, SQL, and VB.NET technologies
    %li Quickly responded to changing client requirements

  %table.infoTable
    %tr
      %td 
        %b Software Test Specialist
      %td.infoRightCol Kanata, ON
    %tr
      %td Kinaxis
      %td.infoRightCol Sept. 2009 - Dec. 2009

  %ul
    %li Performed both manual and automated tests on Kinaxis RapidResponse
    %li Created new test scripts and debugged existing scripts using QuickTest Professional

  %h2 EDUCATION
  %hr

  %table.infoTable
    %tr
      %td 
        %b Candidate for Bachelor of Computer Science, 
        Computer Science
      %td.infoRightCol Waterloo, ON
    %tr
      %td University of Waterloo
      %td.infoRightCol Sept. 2008 - Present

  .eduWaterloo
    %p.lowBottomMargin
      %b Relevant Assignments:

    %p.lowTopMargin
      %b OS/161 Operating System,
      Operating Systems, Sept. 2010 - Dec. 2010

    %ul
      %li Developed an operating system built on top of OS/161
      %li Requirements included implementing synchronization primitives, system calls, and a memory management system

    %p.lowBottomMargin
      %b Relevant courses:

    %ul.lowTopMargin
      %li Operating Systems
      %li User Interfaces
      %li Computer Networks

  %table.infoTable
    %tr
      %td 
        %b Ontario High School Diploma
      %td.infoRightCol Richmond Hill, ON
    %tr
      %td Richmond Hill High School
      %td.infoRightCol Sept. 2004 - Jun. 2008

  %h2 AWARDS
  %hr
  %ul
    %li Nortel Networks Undergraduate Scholarship, Nortel Networks, Sept. 2008
    %li President's Scholarship, University of Waterloo, Richmond Hill, ON, Sept. 2008
    %li Top 2% in 2008 Euclid Contest/Student Honour Roll, University of Waterloo, Richmond Hill, ON, Apr. 2008
    %li 3rd Place Team in Boardwide Educational Computing Organization of Ontario (ECOO) Programming Contest, ECOO, York University, ON, Apr. 2008

  %h2 ACTIVITIES & INTERESTS
  %hr

  %table.infoTable
    %tr
      %td 
        %b Intramurals Soccer - Player
      %td.infoRightCol Waterloo, ON
    %tr
      %td University of Waterloo
      %td.infoRightCol May 2011 - Present
  %br
  %table.infoTable
    %tr
      %td 
        %b Ping Pong Club - Member
      %td.infoRightCol Waterloo, ON
    %tr
      %td University of Waterloo
      %td.infoRightCol Jan. 2009 - Present

  %p Enjoys ping pong, soccer, video games, drawing, and painting
